<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Målsättning</h2>
<div class="summary">
    <p>När det kommer till utbilding är min ambition är att först och främst ta ut en kandidat inom teknik från IT programmet som jag läser nu för att sedan välja mellan att antingen läsa vidare och ta master examen, förmodligen i någon av inriktingarna inbyggda system eller mjukvaruutveckling, eller istället börja läsa Medicinsk Teknik (eng. Medical Engineering) med inrikting biomekanik och neuronik. Jag är även intresserad av språk och läser lite spanska och japanska själv och har även tagit en kurs i japanska på distans utöver mina studier. Mitt mål är att kunna åtminstone ett språk till utöver de jag redan kan.

        Jag skulle även kunna tänka mig att gå mer åt det pedagogiska hållet och prova på att lära ut eller på något sätt vara del av undervisning eller utbildning inom teknik. Det är definitivt ett område jag funderar på att utforska mer.
        
        Jag bor i Uppsala i en studentkorridor under studieperioderna och hemma hos föräldrarna i Stockholm annars. Jag ägnar större tiden av min vakna tid åt mina studier och på fritiden tycker jag om att hålla på med musik, laga mat och att spela spel online tillsammans med vänner och familj. Tycker även om att läsa språk och att hålla på med små kodnings projekt. Jag brukar även hålla på med extremsporter som vindsurfing under sommaren och snowboarding under vintern. </p>
</div><!--//summary-->
</section><!--//section-->