<div class="education-container container-block">
<h2 class="container-block-title">Utbildning</h2>

<div class="item">
    <h4 class="degree">Civilingenjörsexamen</h4>
    <h5 class="meta">Uppsala Universitet</h5>
    <div class="time">2015 - Nu</div>
</div><!--//item-->

<div class="item">
    <h4 class="degree">Gymnasieexamen, Teknik med inriktning informations- och medieteknik</h4>
    <h5 class="meta">International IT College of Sweden</h5>
    <div class="time">2012 - 2015</div>
</div><!--//item-->

</div><!--//education-container-->