<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-key"></i>Nyckelkompetenser</h2>
                <div class="intro">
                    <p>Nyckelkompetenser</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Jag kan grundläggande programmering</a></span> - <span class="project-tagline">Har arbetat i följande programmeringsspråk privat, undertiden jag jobbt eller under min utbildning: C, Phyton, Java, Visual Basic, HTML, Javascript, CSS, Haskell.</span>
                
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Har stort intresse för teknik</a></span> - 
                    <span class="project-tagline">Har gått tekniska inriktningar ända sedan gymnasiet och har planer på att fördjupa mig inom teknik.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Min engelska är bra</a></span> - <span class="project-tagline">Jag har gått på ett internationellt gymnasium där undervisning var till hälften på engelska och har dessutom ett Cambridge Advanced English (CAE) certifikat. Dessutom har jag socialiserat mig mycket med människor från alla världens hörn online.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Jag vill alltid lära mig mer</a></span> - <span class="project-tagline">Jag är inte rädd för att dra ut på min utbildning eller att gå nya kurser. Det är snarare en fråga om hur jag ska hinna med allt.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">test</a></span> - <span class="project-tagline">test text</span>
                </div><!--//item-->
</section><!--//section-->
