<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Arbetserfarenheter</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sommarjobb</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tog bland annat fram ett verktyg i form av skript och grafiskt gränssnitt för att medarbetare enkelt skulle kunna migrera och överföra kretskort med dess el-komponenter (data) från excel till en databas. Det var här jag lärde mig Visual Basic.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sommarjobb</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Större delen av arbetet gick ut på att söka reda på kretskort och el-komponenter som inte fanns i databasen, om det saknades dokumenation eller andra fel. Ett jobb som lade grunden för framtid migrering till ny databas och gav inblick i hur en komponentdatabas kan fungera.</p>
                    </div><!--//details-->
                </div><!--//item-->
        
</section><!--//section-->