
<section class="it-skills-section section">
                <h2 class="section-title"><i class="fa fa-keyboard-o"></i>Datorkunskaper</h2>
                <div class="skillset">

                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">Office</a></span> - 
                        <span class="project-tagline">Van</span>
                    </div><!--//item-->

                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">Gimp</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">Vim</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">Git</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">Audacity</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">LaTeX</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">Blender</a></span> - 
                        <span class="project-tagline">Nybörjare</span>
                    </div><!--//item-->

                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">Matlab</a></span> - 
                        <span class="project-tagline">Nybörjare</span>
                    </div><!--//item-->

                </div>
</section>