
<section class="it-skills-section section">
                <h2 class="section-title"><i class="fa fa-keyboard-o"></i>Datorkunskaper</h2>
                <div class="skillset">

                    <div class="item">
                        <span class="project-title"><a href="https://www.office.com/" target="_blank">Office (document, spreadsheet and presentation editors)</a></span> - 
                        <span class="project-tagline">Van</span>
                    </div><!--//item-->

                    <div class="item">
                        <span class="project-title"><a href="https://www.gimp.org/" target="_blank">Gimp (image manipulation program)</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="http://www.vim.org/" target="_blank">Vim (text editor)</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="https://git-scm.com/" target="_blank">Git (file version control)</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="https://www.audacityteam.org/" target="_blank">Audacity (audio editor)</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="https://www.latex-project.org/" target="_blank">LaTeX (scientific documentation)</a></span> - 
                        <span class="project-tagline">Bekväm</span>
                    </div><!--//item-->
                    
                    <div class="item">
                        <span class="project-title"><a href="https://www.blender.org/" target="_blank">Blender (3D creation software)</a></span> - 
                        <span class="project-tagline">Nybörjare</span>
                    </div><!--//item-->

                    <div class="item">
                        <span class="project-title"><a href="https://www.mathworks.com/products/matlab.html" target="_blank">Matlab (numerical programming language and software)</a></span> - 
                        <span class="project-tagline">Nybörjare</span>
                    </div><!--//item-->

                    <div class="item">
                        <span class="project-title"><a href="https://www.pdsvision.se/products/windchill/windchill-pdmlink/" target="_blank">PDMLink, Windchill (document management system)</a></span> - 
                        <span class="project-tagline">Viss erfarenhet</span>
                    </div><!--//item-->

                </div>
</section>