
<section class="it-skills-section section">
                <h2 class="section-title"><i class="fa fa-keyboard-o"></i>Datorkunskaper</h2>
                <div class="skillset">
                    <p>Dator kunskaper här.</p>
                    <div class="item">
                        <span class="project-title"><a href="#" target="_blank">test (duktig)</a></span> - 
                        <span class="project-tagline">info?</span>
                    </div><!--//item-->
                </div>
</section>