<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-gears"></i> Nyckelkompetenser</h2>
                
                <div class="item">
                    <span class="expertise-title"><a href="http://github.com/tejjsho">Jag kan grundläggande programmering</a></span> - 
                    <span class="expertise-tagline">Har arbetat i följande programmeringsspråk privat, undertiden jag jobbat eller under min utbildning: C, Phyton, Java, Visual Basic, HTML, Javascript, CSS och Haskell.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank">Har stort intresse för teknik</a></span> - 
                    <span class="expertise-tagline">Har gått tekniska inriktningar ända sedan gymnasiet och har idag planer på att fördjupa mig inom teknik.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://verifier.cambridgeenglish.org/" target="_blank">Min engelska är bra</a></span> - 
                    <span class="expertise-tagline">Jag har gått på ett internationellt gymnasium där undervisningen var till hälften på engelska och har dessutom ett Cambridge Advanced English (CAE) certifikat. Dessutom har jag socialiserat mig väldigt mycket med människor från alla världens hörn online.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://en.wikipedia.org/wiki/Lifelong_learning" target="_blank">Jag vill alltid lära mig mer</a></span> - 
                    <span class="expertise-tagline">Utvecklingen sker väldigt fort och jag tror därför det är viktigt att hela tiden lära sig nya saker och att göra det livet ut. </span>
                </div><!--//item-->
</section><!--//section-->