<section class="section summary-section">
<h2><i class="fa fa-compass"></i> Målsättning</h2>
<div class="summary">
    <p>
        När det kommer till min utbildning är min ambition för närvarande att först och främst att ta ut en högskoleingenjörsexamen i medicinsk teknik. Samtidigt kommer jag även ta ut en kandidat i teknik i och med att jag studerade IT tidigare. Därefter kommer jag välja en av två vägar; att antingen söka en master i medicinsk teknik på chalmers tekniska högskola eller något mostsvarande i Uppsala eller att jobba ett par år för att sedan läsa en master i medicinsk teknik. Till sist är tanken att söka en forskarutbildning på samma område.
    </p>
    <br>
    <p>
        Jag skulle även fundera på att gå åt det mer pedagogiska hållet och prova på att lära ut eller att på något sätt vara del av undervisning eller utbildning inom teknik. Det är ett område jag funderar på att utforska mer kring och se vilka alternativen är.
    </p>
</div>
</section><!--//section-->