<section class="other-info-section section">
                <h2 class="section-title"><i class="fa fa-info"></i>Övrigt</h2>
                <div class="skillset">

                    <div class="item">
                        <span class="project-title"><a href="http://www.cambridgeenglish.org/exams-and-tests/advanced/" target="_blank">Cambridge Advanced English (CAE) certifikat</a></span> - 
                        <span class="project-tagline">Cambridge English Level 2 Certificate in ESOL International (Advanced), C1 level - Maj 2015</span>
                    </div><!--//item-->
                </div>
</section>