<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}Teodor Carlsson{% endif %}</h1>
                <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Student{% endif %}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                   {% if site.email %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
                    {% else %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:teodor.carlsson@hotmail.com">teodor.carlsson@hotmail.com</a></li>
                    {% endif %}
                    
                    {% if site.phone %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
                    {% else %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:07 621 313 12">07 621 313 12</a></li>
                    {% endif %}
                    
                    {% if site.address %}
                    <li class="address"><i class="fa fa-home"></i><a href="" target="_blank">{{site.address}}</a></li>
                    {% else %}
                     <li class="address"><i class="fa fa-home"></i><a href="" target="_blank">Långskeppsgatan 19</a></li>
                    {% endif %}
                    
                    {% if site.post-address %}
                    <li class="post-address"><i class="fa fa-map-marker"></i><a href="" target="_blank">{{site.post-address}}</a></li>
                    {% else %}
                     <li class="post-address"><i class="fa fa-map-marker"></i><a href="" target="_blank">16853 Bromma</a></li>
                    {% endif %}

                    {% if site.website %}
                    <li class="website"><i class="fa fa-globe"></i><a href="http://{{site.website}}" target="_blank">{{site.website}}</a></li>
                    {% else %}
                    <li class="website"><i class="fa fa-globe"></i><a href="http://teodorcarlsson.github.io/online-cv/" target="_blank"><!--//m-->teodorcarlsson@github.io/online-cv</a></li>
                    {% endif %}
                    
                    {% if site.linkedin %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank">linkedin.com/in/{{site.linkedin}}</a></li>
                    {% else %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/teodor-carlsson/" target="_blank">linkedin.com/in/teodor-carlsson</a></li>
                    {% endif %}
                    
                    {% if site.github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
                    {% else %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/tejjsho" target="_blank">github.com/tejjsho</a></li>
                    {% endif %}
                    
                    {% if site.twitter %}
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.twitter}}</a></li>
                    {% else %}
                     <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/@Tejjsho" target="_blank">@Tejjsho</a></li>
                    {% endif %}
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include interests.html %}
           {% include about.html %}
        
            
        </div><!--//sidebar-wrapper-->
