<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-code"></i>Programmeringsspråk</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">C</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Java</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Visual Basic</h3> <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%"> </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Phyton</h3> <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%"> </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Haskell</h3> <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%"> </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                </div><!--//skillset--> 
</section><!--//skills-section-->