<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-code"></i> Programmeringsspråk</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">C</h3>
                        <p class="skill-level-text">(40/100)</p>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Java</h3>
                        <p class="skill-level-text">(25/100)</p>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="25%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML</h3>
                        <p class="skill-level-text">(25/100)</p>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="25%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript</h3>
                        <p class="skill-level-text">(30/100)</p>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">CSS</h3>
                        <p class="skill-level-text">(25/100)</p>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="25%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Visual Basic for Applications</h3> 
                        <p class="skill-level-text">(20/100)</p>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%"> </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Phyton</h3> 
                        <p class="skill-level-text">(30/100)</p>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%"> </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Haskell</h3> 
                        <p class="skill-level-text">(15/100)</p>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="15%"> </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                </div><!--//skillset--> 
</section><!--//skills-section-->