<div class="languages-container container-block">
<h2 class="container-block-title"><i class="fa fa-language"></i> Språk</h2>
<ul class="list-unstyled interests-list">
    <li>Svenska <span class="lang-desc">(Modersmål)</span></li>
    <li>Engelska <span class="lang-desc">(Flytande)</span></li>
    <li>Japanska <span class="lang-desc">(Nybörjare)</span></li>
    <li>Mandarin <span class="lang-desc">(Nybörjare)</span></li>
    <li>Spanska <span class="lang-desc">(Nybörjare)</span></li>
</ul>
</div><!--//interests-->