
<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i> Utbildning</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title"><b>Högskoleingenjörsexamen, Medicinsk Teknik </b>(pågående)</h4>
                            <div class="time">2019-2022</div>
                        </div><!--//upper-row-->
                        <div class="company">Uppsala Universitet, Uppsala</div>
                    </div><!--//meta-->
                    <div></div>
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title"><b>Kandidatexamen, Teknik</b> (pågående)</h4>
                            <div class="time">2015-2022</div>
                        </div><!--//upper-row-->
                        <div class="company">Uppsala Universitet, Uppsala</div>
                    </div><!--//meta-->
                    <div></div>
                    <div class="details">
                        <p>Från civilingenjörsprogrammet i informationsteknologi. Kommer ta ut den någon gång innan 2022.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title"><b>Gymnasieexamen, Teknik med inriktning informations- och medieteknik</b></h4>
                            <div class="time">2012-2015</div>
                        </div><!--//upper-row-->
                        <div class="company">International IT College of Sweden, Stockholm</div>
                    </div><!--//meta-->
                    <div></div>
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->